{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Sentimentify</title>

  <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
  <!-- CSS Files -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.min.js"></script>


  <link rel="stylesheet" href="/static/css/main.css" />
  <!-- Fonts and icons -->
  <script>
    $(document).ready(function() {
        $('#logout-button').click(function() {
            $.ajax({
                type: 'GET',
                url: '/api/logout/',
                success: function(response) {
                    alert(response.message);
                    // İsteğin başarılı olması durumunda istediğiniz işlemleri gerçekleştirebilirsiniz.
                },
                error: function(xhr, status, error) {
                    alert('Bir hata oluştu. Lütfen tekrar deneyin.');
                }
            });
        });
    });
</script>
</head>

{% if request.user.is_authenticated %}
  <p>Hoş geldin, {{ request.user.username }}!</p>
{% else %}
  <p>Giriş yapmadınız.</p>
{% endif %}


<body data-background-color="dark">
  <div class="wrapper">
    <div class="main-header container-fluid">
      <!-- Sidebar -->
      <div class="offcanvas offcanvas-start bg-dark2" tabindex="-1" id="menuCanvas" aria-labelledby="menuCanvasLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-dark2">
          <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
            <div class="cardCanvas p-4">
              <div class=" image d-flex flex-column justify-content-center align-items-center">
                <div class="avatar-sm">
                  <img src="{%static 'images/profile.jpg' %}" alt="..." class="avatar-img rounded-circle" />
                </div>
                <span class="name mt-3">{{ request.user.username }}</span> <span class="idd"></span>


                <div class=" d-flex mt-2"> <button class="btn1 btn-dark">Edit Profile</button> </div>
                <div class="text mt-3">
                  <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci recusandae, rem laborum itaque
                    tempore voluptates, hic officiis molestias nam, nemo minima deserunt necessitatibus consequatur
                    tempora cupiditate rerum saepe fugit! Minima.
                    Eum dolor, dolorum laboriosam veritatis, error repellat et corrupti harum commodi autem itaque neque
                    eaque totam quibusdam voluptatum odio debitis exercitationem optio blanditiis nam aperiam. Vitae
                    voluptates amet aliquam sunt. </span>
                </div>
                <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center">
                  <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span>
                  <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Sidebar -->
      <!-- Navbar Header -->
      <nav class="navbar navbar-header navbar-expand-lg d-block " data-background-color="dark">

        <ul class="navbar-nav topbar-nav ml-md-auto align-items-center justify-content-between px-4">
          <li class="nav-item  hidden-caret">
            <a class="btn " data-bs-toggle="offcanvas" href="#menuCanvas" role="button" aria-controls="menuCanvas">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
              </svg>
            </a>
          </li>
          <li class="nav-item  hidden-caret">
            <a href="/index/" class="logo">
              <img src="{%static 'images/logo.png' %}" alt="navbar brand" class="navbar-brand">
            </a>
          </li>

          <li class="nav-item dropdown hidden-caret login-register">
            {% comment %} <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
              <div class="avatar-sm">
                <img src="{%static 'images/profile.jpg' %}" alt="..." class="avatar-img rounded-circle" />
              </div>
            </a> {% endcomment %}
            <a href="{% url 'logout' %}" class="cikis nav-link"
                       style="background-color: #ff0000; margin-top: 25px">
                        <i class="fas fa-door-open"></i>
                        <p class="bayiyonetimi" style="margin-left: 10px ">
                            Çıkış Yap </p>
                    </a>
          </li>
        </ul>

      </nav>

      <!-- End Navbar -->
    </div>

    <div class="main-panel">
      <div class="content">
        <div class="page-inner">
          <div class="mt-4 mb-4">
            <div class="card">
              <div class="card-header">
                <div class="card-title">Your Text</div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <div class="form-group form-group-default">
                      <label>Input</label>
                      <textarea name="put-text" class="form-control" cols="30" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlFile1 ">
                        Example file input
                      </label>
                      <input type="file" class="form-control-file" id="exampleFormControlFile1" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-action">
                <button class="btn btn-success float-right">Submit</button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col needleCol">
              <div id="needleResponse"><img src="{%static 'images/needle.png' %}">
                <span class="needle"></span>

              </div>
              <input type="text" id="gelenDegerInput" placeholder="Değer girin">
              <button onclick="gelenDegeriGuncelle()">Gönder</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-dark bg-primary-gradient">
                <div class="card-body pb-0">
                  <div class="h1 fw-bold float-right">+5%</div>
                  <h2 class="mb-2">17</h2>
                  <p>Users online</p>
                  <div class="pull-in sparkline-fix chart-as-background">
                    <div id="lineChart">
                      <canvas width="327" height="70" style="
                            display: inline-block;
                            width: 327px;
                            height: 70px;
                            vertical-align: top;
                          "></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-dark bg-secondary-gradient">
                <div class="card-body pb-0">
                  <div class="h1 fw-bold float-right">-3%</div>
                  <h2 class="mb-2">27</h2>
                  <p>New Users</p>
                  <div class="pull-in sparkline-fix chart-as-background">
                    <div id="lineChart2">
                      <canvas width="327" height="70" style="
                            display: inline-block;
                            width: 327px;
                            height: 70px;
                            vertical-align: top;
                          "></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-dark bg-success2">
                <div class="card-body pb-0">
                  <div class="h1 fw-bold float-right">+7%</div>
                  <h2 class="mb-2">213</h2>
                  <p>Transactions</p>
                  <div class="pull-in sparkline-fix chart-as-background">
                    <div id="lineChart3">
                      <canvas width="327" height="70" style="
                            display: inline-block;
                            width: 327px;
                            height: 70px;
                            vertical-align: top;
                          "></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card card-secondary">
                <div class="card-header">
                  <div class="card-title">Daily Sales</div>
                  <div class="card-category">March 25 - April 02</div>
                </div>
                <div class="card-body pb-0">
                  <div class="mb-4 mt-2">
                    <h1>$4,578.58</h1>
                  </div>
                  <div class="pull-in">
                    <canvas id="dailySalesChart"></canvas>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-4">
              <div class="card card-primary bg-primary-gradient">
                <div class="card-body">
                  <h4 class="mb-1 fw-bold">Tasks Progress</h4>
                  <div id="task-complete" class="chart-circle mt-4 mb-3"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  <div class="card-title">Feed Activity</div>
                </div>
                <div class="card-body">
                  <ol class="activity-feed">
                    <li class="feed-item feed-item-secondary">
                      <time class="date" datetime="9-25">Sep 25</time>
                      <span class="text">
                        Responded to need
                        <a href="#">"Volunteer opportunity"</a>
                      </span>
                    </li>
                    <li class="feed-item feed-item-success">
                      <time class="date" datetime="9-24">Sep 24</time>
                      <span class="text">
                        Added an interest
                        <a href="#">"Volunteer Activities"</a>
                      </span>
                    </li>
                    <li class="feed-item feed-item-info">
                      <time class="date" datetime="9-23">Sep 23</time>
                      <span class="text">
                        Joined the group
                        <a href="single-group.php">"Boardsmanship Forum"</a>
                      </span>
                    </li>
                    <li class="feed-item feed-item-warning">
                      <time class="date" datetime="9-21">Sep 21</time>
                      <span class="text">
                        Responded to need
                        <a href="#">"In-Kind Opportunity"</a>
                      </span>
                    </li>
                    <li class="feed-item feed-item-danger">
                      <time class="date" datetime="9-18">Sep 18</time>
                      <span class="text">
                        Created need
                        <a href="#">"Volunteer Opportunity"</a>
                      </span>
                    </li>
                    <li class="feed-item">
                      <time class="date" datetime="9-17">Sep 17</time>
                      <span class="text">
                        Attending the event
                        <a href="single-event.php">"Some New Event"</a>
                      </span>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->

  <!-- jQuery Scrollbar -->

  <!-- Chart JS -->
  <script src="/static/js/plugin/chart.js/chart.min.js"></script>

  <!-- jQuery Sparkline -->

  <!-- Chart Circle -->
  <script src="/static/js/plugin/chart-circle/circles.min.js"></script>

  {% comment %}
  <!-- Datatables -->
  <script src="/static/js/plugin/datatables/datatables.min.js"></script>

  <!-- Bootstrap Notify -->
  <script src="/static/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

  <!-- jQuery Vector Maps -->
  <script src="/static/js/plugin/jqvmap/jquery.vmap.min.js"></script>
  <script src="/static/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

  <!-- Sweet Alert -->
  <script src="/static/js/plugin/sweetalert/sweetalert.min.js"></script>
  {% endcomment %} {% comment %}
  <script src="/static/js/min.js"></script>
  {% endcomment %} {% comment %}
  <script src="/static/js/settings.js"></script>
  {% endcomment %}
  <script src="/static/js/app.js"></script>
</body>

</html>