{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sentimentify</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900" rel="stylesheet" />
    <!-- CSS Files -->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body data-background-color="dark">
    <!-- Logo Header -->
    <div style="float:none; width:auto; flex-direction:column; " class="logo-header" data-background-color="dark2">
        <a href="/index/" class="logo">
            <img src="{% static 'images/logo.png' %}" alt="navbar brand" class="navbar-brand">
        </a>
    </div>
    <!-- End Logo Header -->
    <div class="container">
        <div class="login-page">
            <input type="checkbox" id="chk" aria-hidden="true">
            <div class="signup">
                <form class="login-form" method="post" id="signup-form">
                    <label for="chk" aria-hidden="true">Kayıt ol</label>
                    <input id="username" type="text" name="txt" placeholder="Kullanıcı Adı" required>
                    <input id="email" type="email" name="email" placeholder="Email">
                    <input id="password" type="password" name="pswd" placeholder="Şifre" required>
                    <button type="submit">Kayıt Ol</button>
                </form>
            </div>
            <div class="login">
                <form class="login-form" method="post" action="{% url 'login_api' %}">
                    {% csrf_token %}
                    <label for="chk" aria-hidden="true">Giriş Yap</label>
                    <input id="username" type="text" name="username" placeholder="Kullanıcı Adı">
                    <input id="password" type="password" name="password" placeholder="Şifre">
                    <button type="submit">Giriş Yap</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/static/js/app.js"></script>
</body>
</html>